Repository abdulramonjemil/quiz: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --check, stylelint

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint", "prettier --check"],
  "*.{json,scss}": "prettier --check",
  "*.scss": "stylelint"
}

Use h2 for heading
  src/components/header.jsx
Due: eslint, prettier --check

Remove unnecessary component
  src/components/question.jsx
Due: eslint, prettier --check

Rename classes
  src/components/control-panel.jsx
  src/components/question.jsx
  src/components/result.jsx
  src/scss/control-panel.module.scss
  src/scss/question.module.scss
  src/scss/result.module.scss
Due: eslint, prettier --check, stylelint

Add class name helper
  src/components/progress.jsx
  src/lib/dom.js
Due: eslint, prettier --check

Allow root styling via classes
  src/components/header.jsx
  src/components/quiz.jsx
  src/public/main.js
  src/scss/header.module.scss
Due: eslint, prettier --check, stylelint

Return only distinct classes from helper
  src/lib/dom.js
Due: eslint, prettier --check

Add class exclusion helper
  src/lib/dom.js
Due: eslint, prettier --check

Enable progress config via classes
  src/components/progress.jsx
  src/scss/progress.module.scss
Due: eslint, prettier --check, stylelint

Focus content on button click
  src/components/quiz.jsx
Due: eslint, prettier --check

Fix issue with type
  src/lib/dom.js
Due: eslint, prettier --check

Rewrite helpers
  src/components/progress.jsx
  src/lib/dom.js
Due: eslint, prettier --check

Refactor and allow config for presentation
  src/components/presentation.jsx
  src/components/quiz.jsx
Due: eslint, prettier --check

Fix wrong type
  src/components/quiz.jsx
Due: eslint, prettier --check

Add type definitions for function
  src/components/question.jsx
Due: eslint, prettier --check

Remove unnecessary file
  src/build.entry.js
  src/core/polyfiller.js
Due: eslint, prettier --check

Move function into new necessary file
  src/core/base.js
  src/core/component.js
  src/core/jsx-runtime.js
Due: eslint, prettier --check

Refactor ref holder implementation
  src/components/code-board.jsx
  src/components/control-panel.jsx
  src/components/progress.jsx
  src/components/question.jsx
  src/components/quiz.jsx
  src/components/result.jsx
  src/core/base.js
  src/core/component.js
  src/core/jsx-runtime.js
Due: eslint, prettier --check

Fix wrong parameter type
  src/lib/value.js
Due: eslint, prettier --check

Fix wrong typing
  src/components/progress.jsx
Due: eslint, prettier --check

Refactor Question component
  src/components/question.jsx
  src/core/base.js
  src/lib/dom.js
  src/scss/question.module.scss
Due: eslint, prettier --check, stylelint

Refactor CodeBoard
  src/components/code-board.jsx
  src/components/quiz.jsx
  src/scss/code-board.module.scss
Due: eslint, prettier --check, stylelint

Fix css issue with question
  src/scss/question.module.scss
Due: prettier --check, stylelint

Add helper type
  src/lib/dom.js
Due: eslint, prettier --check

Refactor result CSS
  src/components/result.jsx
  src/core/component.js
  src/scss/partials/_utils.scss
  src/scss/result.module.scss
Due: eslint, prettier --check, stylelint

Install react types
  package-lock.json
  package.json
Due: prettier --check

Add default type argument
  jsconfig.json
  src/components/progress.jsx
Due: eslint, prettier --check

Fix wrong typing
  src/lib/value.js
Due: eslint, prettier --check

Enable TypeScript type checking
  .gitignore
  jsconfig.json
  package-lock.json
  package.json
  src/build.entry.js
  src/components/code-board.jsx
  src/components/control-panel.jsx
  src/components/header.jsx
  src/components/presentation.jsx
  src/components/progress.jsx
  src/components/question.jsx
  src/components/quiz.jsx
  src/components/result.jsx
  src/components/scroll-shadow.jsx
  src/core/base.js
  src/core/component.js
  src/core/jsx-runtime.js
  src/globals.d.ts
  src/lib/value.js
  src/public/main.js
  src/ui/component.js
  src/ui/tabs.js
  tsconfig.json
Due: eslint, prettier --check

Finish refactor of Result
  src/components/quiz.jsx
  src/components/result.jsx
  src/core/slot.js
  src/scss/result.module.scss
Due: eslint, prettier --check, stylelint

Refactor scroll shadow
  src/components/quiz.jsx
  src/components/result.jsx
  src/components/scroll-shadow.jsx
  src/scss/result.module.scss
Due: eslint, prettier --check, stylelint

Rename type
  src/components/quiz.jsx
Due: eslint, prettier --check

Refactor quiz
  src/components/quiz.jsx
  src/lib/value.js
Due: eslint, prettier --check

Restructure files
  babel.config.js
  src/components/code-board.jsx
  src/components/control-panel.jsx
  src/components/presentation.jsx
  src/components/progress.jsx
  src/components/question.jsx
  src/components/quiz.jsx
  src/components/result.jsx
  src/globals.d.ts
  src/jsx/base.js
  src/jsx/component.js
  src/jsx/index.d.ts
  src/jsx/index.js
  src/jsx/jsx-runtime.js
  src/jsx/ref.js
  src/jsx/slot.js
  src/ui/index.js
Due: eslint, prettier --check

Rename special function
  src/jsx/jsx-runtime.js
Due: eslint, prettier --check

Update types and use instrinsic function
  src/components/result.jsx
  src/globals.d.ts
  tsconfig.json
Due: eslint, prettier --check

Allow configuring indicator animation
  src/components/quiz.jsx
  src/components/result.jsx
  src/public/main.js
  src/scss/result.module.scss
Due: eslint, prettier --check, stylelint

Refactor content parser
  src/components/code-board.jsx
  src/components/header.jsx
  src/components/question.jsx
  src/components/result.jsx
  src/core/base.js
  src/core/content-parser.js
  src/core/content.js
  src/core/format.js
  src/core/index.js
  src/lib/dom.js
  src/public/sample.js
Due: eslint, prettier --check

Set appropriate element font-family
  src/scss/quiz.module.scss
Due: prettier --check, stylelint

Change animation rendering speed
  src/components/result.jsx
  src/public/main.js
Due: eslint, prettier --check

Update JSX typings
  src/components/presentation.jsx
  src/components/progress.jsx
  src/components/quiz.jsx
  src/components/scroll-shadow.jsx
  src/globals.d.ts
  src/jsx/index.d.ts
Due: eslint, prettier --check
