Repository abdulramonjemil/quiz: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --check, stylelint

Fix bug with disabling/enabling submit button
  src/components/quiz.jsx
  src/public/test-page.html
Due: eslint, prettier --check

Enable display of any slide in presentation
  src/components/presentation.jsx
Due: eslint, prettier --check

Return if there's no need to switch slides
  src/components/presentation.jsx
Due: eslint, prettier --check

Re-implement event handling in progress
  src/components/progress.jsx
Due: eslint, prettier --check

Reimplement progress and add necessary methods
  src/components/progress.jsx
Due: eslint, prettier --check

Extract functionality into separate functions
  src/components/presentation.jsx
  src/components/progress.jsx
Due: eslint, prettier --check

Add necessary helpers
  src/components/presentation.jsx
  src/components/progress.jsx
  src/components/quiz.jsx
Due: eslint, prettier --check

Abstract revalidation into control-panel
  src/components/control-panel.jsx
  src/components/quiz.jsx
Due: eslint, prettier --check

Make little changes
  .eslintrc.json
  LICENSE
  README.md
  package.json
  src/components/quiz.jsx
Due: eslint, prettier --check

Update webpack config
  webpack.dev.js
  webpack.prod.js
Due: eslint, prettier --check

Update package configs
  .eslintrc.js
  .prettierrc.js
  .prettierrc.json
  .stylelintrc.js
  lint-staged.config.js
  package-lock.json
  package.json
Due: eslint, prettier --check

Update stylelint config
  .stylelintrc.js
  package-lock.json
  package.json
  src/components/quiz.jsx
  webpack.dev.js
Due: eslint, prettier --check

Fix type in stylelint config
  .stylelintrc.js
Due: eslint, prettier --check

Restyle code-board
  src/scss/code-board.module.scss
  src/scss/partials/_utils.scss
  src/scss/quiz.module.scss
Due: prettier --check, stylelint

Change monospace font
  src/scss/code-board.module.scss
  src/scss/partials/_utils.scss
  src/scss/quiz.module.scss
Due: prettier --check, stylelint

Change styling for code-board
  src/scss/code-board.module.scss
Due: prettier --check, stylelint

Change code-board font-weight
  src/scss/code-board.module.scss
Due: prettier --check, stylelint

Rename 'content' prop to 'snippet'
  src/components/code-board.jsx
  src/components/quiz.jsx
  src/public/test-page.html
Due: eslint, prettier --check

Check formatting of HTML on commit
  lint-staged.config.js
Due: eslint, prettier --check

Rename feedback option in question to explanation
  src/components/question.jsx
  src/components/quiz.jsx
  src/public/test-page.html
  src/scss/question.module.scss
Due: eslint, prettier --check, stylelint

Fix bug with metadata export
  src/components/quiz.jsx
Due: eslint, prettier --check

Export metadata as raw object
  src/components/question.jsx
  src/components/quiz.jsx
Due: eslint, prettier --check

Avoid stringifying question metadata
  src/components/question.jsx
  src/components/quiz.jsx
  src/public/test-page.html
Due: eslint, prettier --check

Update sample of custom saved data
  src/public/test-page.html
Due: none

Specify interface for Question metadata
  src/components/question.jsx
Due: eslint, prettier --check

Specify interface for Quiz metadata
  src/components/quiz.jsx
Due: eslint, prettier --check

Move import to appropriate position
  src/components/quiz.jsx
Due: eslint, prettier --check

Add necessary type info
  src/components/quiz.jsx
Due: eslint, prettier --check

Move type definition to appropriate position
  src/components/quiz.jsx
Due: eslint, prettier --check

Update package.json
  package.json
Due: prettier --check

Limit quiz elements to a max of 10
  src/components/quiz.jsx
Due: eslint, prettier --check

Rename ProgressLevel prop
  src/components/progress.jsx
Due: eslint, prettier --check

Reimplement the revalidation pattern
  src/components/control-panel.jsx
  src/components/progress.jsx
  src/components/quiz.jsx
  src/scss/progress.module.scss
Due: eslint, prettier --check, stylelint

Fix bug with result toggle
  src/components/progress.jsx
  src/components/quiz.jsx
  src/scss/control-panel.module.scss
Due: eslint, prettier --check, stylelint

Remove unnecessary variables
  src/components/quiz.jsx
Due: eslint, prettier --check

Move callback to inline position
  src/components/quiz.jsx
Due: eslint, prettier --check

Remove unnecessary methods
  src/components/presentation.jsx
Due: eslint, prettier --check

Add method back
  src/components/presentation.jsx
Due: eslint, prettier --check

Fix bug with revalidation on customSavedData
  src/components/quiz.jsx
  src/public/test-page.html
Due: eslint, prettier --check

Support revalidation when slide is result
  src/components/quiz.jsx
Due: eslint, prettier --check

Path conditions:
  eslint: any of: *.{js,jsx}
  prettier --check: (any of: *.{js,jsx}) or (any of: *.{json,scss})
  stylelint: any of: *.scss
