Repository abdulramonjemil/quiz: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --check, stylelint

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint", "prettier --check"],
  "*.{json,scss}": "prettier --check",
  "*.scss": "stylelint"
}

Rename scroll shadow variables
  src/components/scroll-shadow.jsx
  src/scss/scroll-shadow.module.scss
Due: eslint, prettier --check, stylelint

Animate result by default
  src/components/result.jsx
Due: eslint, prettier --check

Remove unnecessary use of sass color functions
  src/components/scroll-shadow.jsx
  src/scss/control-panel.module.scss
  src/scss/partials/_element.scss
  src/scss/partials/_utils.scss
  src/scss/question.module.scss
  src/scss/scroll-shadow.module.scss
Due: eslint, prettier --check, stylelint

Avoid using non themable colors
  src/scss/partials/_utils.scss
  src/scss/question.module.scss
Due: prettier --check, stylelint

Remove unnecessary 'aria-hidden' attribute
  src/components/progress.jsx
Due: eslint, prettier --check

Fix containment issue
  src/components/presentation.jsx
  src/scss/code-board.module.scss
  src/scss/partials/_element.scss
  src/scss/presentation.module.scss
  src/scss/question.module.scss
  src/scss/result.module.scss
Due: eslint, prettier --check, stylelint

Use radix in uniqueId for conciseness
  src/lib/id.js
Due: eslint, prettier --check

Rename utils to theme
  package-lock.json
  src/scss/code-board.module.scss
  src/scss/control-panel.module.scss
  src/scss/partials/_element.scss
  src/scss/partials/_theme.scss
  src/scss/presentation.module.scss
  src/scss/progress.module.scss
  src/scss/question.module.scss
  src/scss/quiz.module.scss
  src/scss/result.module.scss
  src/scss/scroll-shadow.module.scss
Due: prettier --check, stylelint

Change explanation divider color
  src/scss/question.module.scss
Due: prettier --check, stylelint

Rename id.js file
  src/components/question.jsx
  src/components/quiz.jsx
  src/jsx/jsx-runtime.js
  src/lib/factory.js
  src/lib/storage.js
Due: eslint, prettier --check

Restructure SCSS files
  .stylelintrc.js
  src/scss/code-board.module.scss
  src/scss/control-panel.module.scss
  src/scss/core/_custom.scss
  src/scss/core/_theme.scss
  src/scss/elements/_containment.scss
  src/scss/elements/_scroll-shadow.scss
  src/scss/lib/_number.scss
  src/scss/lib/_scale.scss
  src/scss/presentation.module.scss
  src/scss/progress.module.scss
  src/scss/question.module.scss
  src/scss/quiz.module.scss
  src/scss/result.module.scss
  src/scss/scroll-shadow.module.scss
Due: eslint, prettier --check, stylelint

Change default shadow size
  src/components/scroll-shadow.jsx
  src/scss/elements/_scroll-shadow.scss
Due: eslint, prettier --check, stylelint

Reuse more theme tokens
  src/components/progress.jsx
  src/components/result.jsx
  src/public/main.js
  src/scss/code-board.module.scss
  src/scss/core/_custom.scss
  src/scss/core/_theme.scss
  src/scss/progress.module.scss
  src/scss/question.module.scss
  src/scss/quiz.module.scss
  src/scss/result.module.scss
Due: eslint, prettier --check, stylelint

Rename mixins
  src/scss/code-board.module.scss
  src/scss/elements/_containment.scss
  src/scss/presentation.module.scss
  src/scss/question.module.scss
  src/scss/result.module.scss
Due: prettier --check, stylelint

Remove duplicate code
  src/scss/code-board.module.scss
  src/scss/core/_custom.scss
Due: prettier --check, stylelint

Update codeboard styles
  src/public/main.js
  src/scss/code-board.module.scss
Due: eslint, prettier --check, stylelint

Use inner in place of wrapper elements
  src/components/code-board.jsx
  src/components/question.jsx
  src/components/result.jsx
  src/scss/code-board.module.scss
  src/scss/question.module.scss
  src/scss/result.module.scss
Due: eslint, prettier --check, stylelint

Updates themes and tsconfig
  src/components/quiz.jsx
  src/jsx/jsx-runtime.js
  src/lib/storage.js
  src/scss/code-board.module.scss
  src/scss/control-panel.module.scss
  src/scss/core/_custom.scss
  src/scss/core/_theme.scss
  src/scss/core/_utils.scss
  src/scss/elements/_scroll-shadow.scss
  src/scss/presentation.module.scss
  src/scss/progress.module.scss
  src/scss/question.module.scss
  src/scss/quiz.module.scss
  src/scss/result.module.scss
  src/ui/tabs.js
  tsconfig.json
Due: eslint, prettier --check, stylelint

Add configurable scroll shadow css vars
  src/components/result.jsx
  src/components/scroll-shadow.jsx
  src/scss/core/_theme.scss
  src/scss/core/_utils.scss
  src/scss/elements/_scroll-shadow.scss
  src/scss/quiz.module.scss
  src/scss/scroll-shadow.module.scss
Due: eslint, prettier --check, stylelint

Make scrollbar themable
  src/scss/core/_custom.scss
  src/scss/quiz.module.scss
Due: prettier --check, stylelint

Make containment themable
  src/scss/elements/_containment.scss
  src/scss/quiz.module.scss
Due: prettier --check, stylelint

Make quiz configurable
  src/scss/elements/_quiz.scss
  src/scss/quiz.module.scss
Due: prettier --check, stylelint

--amend
  src/scss/elements/_quiz.scss
  src/scss/quiz.module.scss
Due: prettier --check, stylelint

Add basic css vars for header
  src/scss/elements/_header.scss
  src/scss/header.module.scss
  src/scss/quiz.module.scss
Due: prettier --check, stylelint

Rename contained element mixin
  src/scss/code-board.module.scss
  src/scss/elements/_containment.scss
  src/scss/presentation.module.scss
  src/scss/question.module.scss
  src/scss/result.module.scss
Due: prettier --check, stylelint

Add configurable css vars for progress
  src/scss/elements/_progress.scss
  src/scss/progress.module.scss
  src/scss/quiz.module.scss
Due: prettier --check, stylelint

Merge containment and presentation with more css vars
  src/scss/code-board.module.scss
  src/scss/elements/_containment.scss
  src/scss/elements/_presentation.scss
  src/scss/presentation.module.scss
  src/scss/question.module.scss
  src/scss/quiz.module.scss
  src/scss/result.module.scss
Due: prettier --check, stylelint

Rename function to avoid confusion
  src/scss/core/_custom.scss
Due: prettier --check, stylelint

Always use surface foreground for visible focus
  src/scss/elements/_presentation.scss
  src/scss/presentation.module.scss
  src/scss/progress.module.scss
Due: prettier --check, stylelint

Add configurable css vars to Question
  src/scss/elements/_question.scss
  src/scss/question.module.scss
  src/scss/quiz.module.scss
Due: prettier --check, stylelint

Allow configuration of focus colors
  src/scss/elements/_presentation.scss
  src/scss/elements/_progress.scss
  src/scss/elements/_quiz.scss
  src/scss/presentation.module.scss
  src/scss/progress.module.scss
  src/scss/quiz.module.scss
Due: prettier --check, stylelint

Add configurable css vars to CodeBoard
  src/scss/code-board.module.scss
  src/scss/elements/_code-board.scss
  src/scss/quiz.module.scss
Due: prettier --check, stylelint

Add configurable CSS vars to ControlPanel
  src/scss/control-panel.module.scss
  src/scss/elements/_control-panel.scss
  src/scss/quiz.module.scss
Due: prettier --check, stylelint

Add configurable CSS vars to Result
  src/components/result.jsx
  src/scss/elements/_result.scss
  src/scss/quiz.module.scss
  src/scss/result.module.scss
Due: eslint, prettier --check, stylelint

Add readable classes to cpanel to enable customization
  src/components/control-panel.jsx
  src/scss/control-panel.module.scss
Due: eslint, prettier --check, stylelint

Updating minor styling and naming
  src/scss/core/_theme.scss
  src/scss/quiz.module.scss
Due: prettier --check, stylelint

Set and allow config of explanation button hover
  src/scss/core/_theme.scss
  src/scss/elements/_question.scss
  src/scss/question.module.scss
Due: prettier --check, stylelint

Remove unnecessary theme color
  src/scss/core/_theme.scss
  src/scss/elements/_question.scss
  src/scss/question.module.scss
Due: prettier --check, stylelint

Allow passing of unresolved indices in progress
  src/components/progress.jsx
  src/components/quiz.jsx
  src/scss/progress.module.scss
Due: eslint, prettier --check, stylelint

Merge mergeable convenience functions
  src/components/quiz.jsx
Due: eslint, prettier --check
