Repository abdulramonjemil/quiz: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --check

Move Quiz into appropriate directory
  components/quiz.jsx
  index.js
Due: eslint, prettier --check

Separate icss files from complete CSS modules
  webpack.dev.js
  webpack.prod.js
Due: eslint, prettier --check

Add module for scss url resolution
  package-lock.json
  package.json
  webpack.dev.js
  webpack.prod.js
Due: eslint, prettier --check

Resolve import cycle
  core/component.js
  core/jsx-runtime.js
Due: eslint, prettier --check

move node resolver to jsx-runtime
  core/component.js
  core/jsx-runtime.js
Due: eslint, prettier --check

Use document fragement for unrendered values
  core/jsx-runtime.js
Due: eslint, prettier --check

Rewrite value to Node resolution function
  core/jsx-runtime.js
Due: eslint, prettier --check

Setup dev environment
  .lintstagedrc.json
  components/quiz.jsx
  public/template.html
  scss/partials/_variables.scss
  scss/quiz.module.scss
Due: eslint, prettier --check

Use appropriate module system for scss
  public/template.html
  scss/partials/_colors.scss
  scss/partials/_font.scss
  scss/quiz.module.scss
Due: none

Include partials directory in loadPath
  scss/quiz.module.scss
  webpack.dev.js
  webpack.prod.js
Due: eslint, prettier --check

Use appropriate name for sass mixin
  scss/partials/_font.scss
  scss/quiz.module.scss
Due: none

Prevent quiz preview from gluing to page top
  public/template.html
Due: none

Enable rerendering of components with new props and children
  core/component.js
Due: eslint, prettier --check

Specify correct path to partials
  scss/quiz.module.scss
  webpack.dev.js
  webpack.prod.js
Due: eslint, prettier --check

Remove unnecessary check
  core/component.js
Due: eslint, prettier --check

Prevent use of invalid props value
  core/component.js
  core/helpers.js
Due: eslint, prettier --check

Use appropriate method name
  core/component.js
Due: eslint, prettier --check

Avoid passing undefined props for testing Quiz
  public/template.html
Due: none

Make code more maintainable
  components/quiz.jsx
  scss/partials/_colors.scss
  scss/partials/_font.scss
  scss/quiz.module.scss
Due: eslint, prettier --check

Modify styles for reset elements
  components/quiz.jsx
  scss/quiz.module.scss
Due: eslint, prettier --check

Use appropriate units && remove unnecessary helper file
  core/component.js
  core/helpers.js
  scss/quiz.module.scss
Due: eslint, prettier --check

Allow passing of spread props to html jsx
  .eslintrc.json
Due: prettier --check

Change quiz root to use the section element
  components/quiz.jsx
Due: eslint, prettier --check

Change colors to use a map
  scss/partials/_colors.scss
  scss/partials/_variables.scss
  scss/quiz.module.scss
Due: none

Include fonts as a part of variables
  scss/partials/_font.scss
  scss/partials/_variables.scss
  scss/quiz.module.scss
Due: none

Extract utilities into one file
  scss/partials/_utils.scss
  scss/quiz.module.scss
Due: none

Join tiny modules
  scss/partials/_font.scss
  scss/partials/_if.scss
  scss/partials/_utils.scss
  scss/partials/_variables.scss
Due: none

Add prototype for header component
  .eslintrc.json
  components/header.jsx
  components/quiz.jsx
  core/content-parser.js
  core/library.js
  public/template.html
Due: eslint, prettier --check

Revamp sass mixins
  public/template.html
  scss/partials/_utils.scss
  scss/quiz.module.scss
Due: none

Finalize header component
  components/header.jsx
  components/quiz.jsx
  public/template.html
  scss/header.module.scss
  scss/quiz.module.scss
Due: eslint, prettier --check

Extract reset into separate file
  scss/header.module.scss
  scss/partials/_reset.scss
  scss/quiz.module.scss
Due: none

Remove unneeded reset file
  scss/header.module.scss
  scss/partials/_reset.scss
  scss/quiz.module.scss
Due: none

Add necessary method to Component
  core/component.js
Due: eslint, prettier --check

Rename parameter passed to Header component
  components/header.jsx
Due: eslint, prettier --check

Add support for React style event attributes
  core/jsx-runtime.js
Due: eslint, prettier --check

Create appropriate constant
  core/jsx-runtime.js
Due: eslint, prettier --check

Remove unnecessary function call
  core/jsx-runtime.js
Due: eslint, prettier --check

Add support for capture events
  core/jsx-runtime.js
Due: eslint, prettier --check

Rename appropriate variable
  core/jsx-runtime.js
Due: eslint, prettier --check

Add progress bar support
  .eslintrc.json
  components/progress.jsx
  components/quiz.jsx
  core/component.js
  scss/progress.module.scss
Due: eslint, prettier --check

Path conditions:
  eslint: any of: *.{js,jsx}
  prettier --check: (any of: *.{js,jsx}) or (any of: *.json)
