Repository abdulramonjemil/quiz: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --check, stylelint

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint", "prettier --check"],
  "*.{json,scss}": "prettier --check",
  "*.scss": "stylelint"
}

Split giant quiz file into multiple
  .vscode/settings.json
  src/components/quiz.jsx
  src/components/quiz/base.jsx
  src/components/quiz/behaviour.jsx
  src/components/quiz/component.jsx
  src/components/quiz/element.jsx
  src/components/quiz/finalization.jsx
  src/components/quiz/index.d.ts
  src/components/quiz/index.jsx
  src/components/quiz/revalidation.jsx
  src/components/quiz/storage.jsx
  src/public/main.js
  src/public/sample.js
Due: eslint, prettier --check

Refactor themeables
  src/scss/core/_custom.scss
  src/scss/core/_theme.scss
  src/scss/core/_utils.scss
  src/scss/elements/_code-board.scss
  src/scss/elements/_control-panel.scss
  src/scss/elements/_header.scss
  src/scss/elements/_presentation.scss
  src/scss/elements/_progress.scss
  src/scss/elements/_question.scss
  src/scss/elements/_quiz.scss
  src/scss/elements/_result.scss
  src/scss/elements/_scroll-shadow.scss
Due: prettier --check, stylelint

Rename utility function
  src/scss/core/_custom.scss
  src/scss/core/_theme.scss
  src/scss/core/_utils.scss
  src/scss/elements/_code-board.scss
  src/scss/elements/_control-panel.scss
  src/scss/elements/_header.scss
  src/scss/elements/_presentation.scss
  src/scss/elements/_progress.scss
  src/scss/elements/_question.scss
  src/scss/elements/_quiz.scss
  src/scss/elements/_result.scss
  src/scss/elements/_scroll-shadow.scss
Due: prettier --check, stylelint

Allow changing of root element type
  src/components/quiz/base.jsx
  src/components/quiz/component.jsx
Due: eslint, prettier --check

Enable configuration of answer selection mode
  src/components/quiz/base.jsx
  src/components/quiz/behaviour.jsx
  src/components/quiz/component.jsx
  src/components/quiz/revalidation.jsx
  src/public/main.js
  src/scss/progress.module.scss
Due: eslint, prettier --check, stylelint

Make header optional
  src/components/quiz/base.jsx
  src/components/quiz/behaviour.jsx
  src/components/quiz/component.jsx
  src/public/main.js
  src/scss/header.module.scss
  src/scss/progress.module.scss
  src/ui/tabs.js
Due: eslint, prettier --check, stylelint

Fix color variable typo
  src/scss/elements/_code-board.scss
Due: prettier --check, stylelint

Update configurable variables
  src/public/main.js
  src/scss/code-board.module.scss
  src/scss/elements/_code-board.scss
  src/scss/elements/_question.scss
  src/scss/question.module.scss
  src/scss/quiz.module.scss
Due: eslint, prettier --check, stylelint

Fix issue of code tag in formatted content
  src/core/content.js
  src/core/format-factory.js
  src/core/format.js
Due: eslint, prettier --check

Move generic helper into lib directory
  src/core/base.js
  src/core/content.js
  src/lib/dom.js
Due: eslint, prettier --check

Remove unnecessary 'index.js' files
  src/components/code-board.jsx
  src/components/header.jsx
  src/components/question.jsx
  src/components/quiz/behaviour.jsx
  src/components/quiz/component.jsx
  src/components/quiz/revalidation.jsx
  src/components/result.jsx
  src/core/index.js
  src/ui/index.js
Due: eslint, prettier --check

Add language class manually in CodeBoard
  src/components/code-board.jsx
Due: eslint, prettier --check

Use better error message
  src/jsx/jsx-runtime.js
Due: eslint, prettier --check

Use better check for function vs class components
  src/jsx/jsx-runtime.js
  src/lib/value.js
Due: eslint, prettier --check

Add support for JSX context
  src/components/quiz/component.jsx
  src/core/data.js
  src/jsx/context.js
  src/jsx/index.d.ts
  src/jsx/index.js
Due: eslint, prettier --check

Add convenience types
  src/jsx/context.js
  src/jsx/index.d.ts
  src/jsx/ref.js
Due: eslint, prettier --check

Separate jsx-runtime into multiple files
  src/jsx/index.d.ts
  src/jsx/index.js
  src/jsx/jsx-runtime.js
  src/jsx/jsx-runtime/base.js
  src/jsx/jsx-runtime/component.js
  src/jsx/jsx-runtime/context.js
  src/jsx/jsx-runtime/index.js
  src/jsx/jsx-runtime/intrinsic.js
Due: eslint, prettier --check

Rename function
  src/jsx/context.js
Due: eslint, prettier --check

Implement namespacing as context
  src/jsx/jsx-runtime/base.js
  src/jsx/jsx-runtime/component.js
  src/jsx/jsx-runtime/context.js
  src/jsx/jsx-runtime/intrinsic.js
Due: eslint, prettier --check

Change function name
  src/core/data.js
  src/jsx/context.js
  src/jsx/index.d.ts
  src/jsx/index.js
  src/jsx/jsx-runtime/context.js
Due: eslint, prettier --check

Hide context data map
  src/jsx/context.js
  src/jsx/jsx-runtime/intrinsic.js
  src/jsx/ref.js
Due: eslint, prettier --check

Remove unnecessary use of context
  src/components/quiz/component.jsx
  src/core/data.js
  src/jsx/jsx-runtime/index.js
  src/jsx/jsx-runtime/value-based.js
Due: eslint, prettier --check

Fix css typo
  src/scss/progress.module.scss
Due: prettier --check, stylelint

Rename file
  src/jsx/jsx-runtime/component.js
  src/jsx/jsx-runtime/index.js
Due: eslint, prettier --check

Remove unnecessary method
  src/components/question.jsx
Due: eslint, prettier --check

Add notes file to tsconfig
  tsconfig.json
Due: prettier --check

Prevent webpack from outputting hot-reload files
  webpack.dev.js
Due: eslint, prettier --check

Add TS notes to gitignore
  .gitignore
  tsconfig.json
Due: prettier --check

Restructure helper type
  src/components/quiz/component.jsx
  src/lib/types.js
  src/lib/value.js
Due: eslint, prettier --check

Rename file
  src/core/content.js
  src/core/format.js
Due: eslint, prettier --check

Change eslint parser
  .eslintrc.js
Due: eslint, prettier --check

Refactor helper function
  src/components/quiz/component.jsx
  src/lib/types.js
  src/lib/value.js
Due: eslint, prettier --check

Update package.json
  package-lock.json
  package.json
Due: prettier --check

Update dependencies
  package-lock.json
  src/scss/presentation.module.scss
  src/scss/question.module.scss
  src/scss/result.module.scss
Due: prettier --check, stylelint

Add config for .ts and .tsx files
  .eslintrc.js
  babel.config.js
  package-lock.json
  package.json
  webpack.config.js
Due: eslint, prettier --check

Add @typescript-eslint
  .eslintrc.js
  package-lock.json
  package.json
  src/build.entry.js
  src/components/presentation.jsx
  src/components/quiz/component.jsx
  src/components/quiz/index.jsx
  src/components/quiz/index.tsx
  src/components/scroll-shadow.jsx
  src/globals.d.ts
  src/jsx/component.js
  src/jsx/context.js
  src/jsx/index.js
  src/jsx/index.ts
  src/jsx/jsx-runtime/component.js
  src/jsx/jsx-runtime/intrinsic.js
  src/lib/value.js
  src/ui/component.js
  src/ui/tabs.js
  tsconfig.eslint.json
  tsconfig.json
  webpack.config.js
  webpack.dev.js
  webpack.prod.js
Due: eslint, prettier --check

Update eslint config and remove unneded comment
  .eslintrc.js
  src/jsx/jsx-runtime/component.js
Due: eslint, prettier --check

Update ignore list
  .eslintrc.js
  .gitignore
  tsconfig.json
Due: eslint, prettier --check

Convention for non-public properties
  .eslintrc.js
  src/components/control-panel.jsx
  src/components/presentation.jsx
  src/components/progress.jsx
  src/components/question.jsx
  src/components/quiz/component.jsx
  src/components/result.jsx
  src/core/format.js
  src/jsx/component.js
  src/jsx/context.js
  src/jsx/index.ts
  src/jsx/slot.js
  src/ui/component.js
  src/ui/tabs.js
Due: eslint, prettier --check

Remove unnecessary class property
  src/components/control-panel.jsx
Due: eslint, prettier --check
