Repository abdulramonjemil/quiz: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --check

Make more more understandable
  components/progress.jsx
Due: eslint, prettier --check

Hide decorative content from screen readers
  components/progress.jsx
Due: eslint, prettier --check

Add support for restarting the progress counter
  components/progress.jsx
Due: eslint, prettier --check

Extract progress level into separate component
  .eslintrc.json
  components/progress.jsx
Due: eslint, prettier --check

Reset appropriate css property
  scss/header.module.scss
  scss/quiz.module.scss
Due: prettier --check

Setup stylelint
  .lintstagedrc.json
  .stylelintrc.json
  .vscode/settings.json
  components/header.jsx
  components/quiz.jsx
  package-lock.json
  package.json
  scss/header.module.scss
  scss/partials/_if.scss
  scss/partials/_utils.scss
  scss/progress.module.scss
  scss/quiz.module.scss
Due: eslint, prettier --check

Add spacing around code elements
  scss/quiz.module.scss
Due: prettier --check

Make progress numbers boxy
  scss/progress.module.scss
Due: prettier --check

Add question component
  .stylelintrc.json
  components/header.jsx
  components/progress.jsx
  components/question.jsx
  components/quiz.jsx
  package.json
  public/template.html
  scss/header.module.scss
  scss/partials/_evaluator.scss
  scss/partials/_utils.scss
  scss/progress.module.scss
  scss/question.module.scss
  scss/quiz.module.scss
Due: eslint, prettier --check

Update linting command in package.json
  package.json
Due: prettier --check

Modify question components
  components/question.jsx
  scss/question.module.scss
Due: eslint, prettier --check

Add ControlPanel and the buttons
  components/control-panel.jsx
  components/quiz.jsx
  scss/control-panel.module.scss
  scss/partials/_utils.scss
  scss/question.module.scss
Due: eslint, prettier --check

Add necessary class component methods
  components/control-panel.jsx
  components/quiz.jsx
  scss/control-panel.module.scss
  scss/header.module.scss
  scss/question.module.scss
Due: eslint, prettier --check

Enable code boards
  .stylelintignore
  components/code-board.jsx
  components/quiz.jsx
  package-lock.json
  package.json
  scss/code-board.module.scss
  scss/control-panel.module.scss
  scss/partials/_utils.scss
  scss/quiz.module.scss
  webpack.config.js
Due: eslint, prettier --check

Add support for SVG Elements in jsx-runtime
  core/jsx-runtime.js
Due: eslint, prettier --check

Support definition of custom xml namespace per element
  core/jsx-runtime.js
Due: eslint, prettier --check

Add support for namespaced elements
  core/jsx-runtime.js
Due: eslint, prettier --check

Convert appropritate method to a static one
  components/question.jsx
Due: eslint, prettier --check

Enable normal binding of event handlers
  core/jsx-runtime.js
Due: eslint, prettier --check

Add Result component
  .eslintrc.json
  .stylelintrc.json
  components/code-board.jsx
  components/quiz.jsx
  components/result.jsx
  core/component.js
  core/content-parser.js
  scss/code-board.module.scss
  scss/control-panel.module.scss
  scss/partials/_evaluator.scss
  scss/partials/_library.scss
  scss/partials/_number.scss
  scss/partials/_utils.scss
  scss/result.module.scss
Due: eslint, prettier --check

Add presentation and make some more additions
  .eslintrc.json
  components/control-panel.jsx
  components/presentation.jsx
  components/question.jsx
  components/quiz.jsx
  components/result.jsx
  components/scroll-shadow.jsx
  core/content-parser.js
  scss/code-board.module.scss
  scss/partials/_slide.scss
  scss/presentation.module.scss
  scss/question.module.scss
  scss/result.module.scss
  scss/scroll-shadow.module.scss
Due: eslint, prettier --check

Move scroll shadows to be inside container of scrollables
  components/question.jsx
  components/quiz.jsx
  components/scroll-shadow.jsx
  scss/question.module.scss
  scss/result.module.scss
  scss/scroll-shadow.module.scss
Due: eslint, prettier --check

Adjust scroll shadow when element size changes
  components/result.jsx
  components/scroll-shadow.jsx
Due: eslint, prettier --check

Handle edge case in multiple progress level transitions
  components/progress.jsx
Due: eslint, prettier --check

Enable restarting of slides
  components/presentation.jsx
Due: eslint, prettier --check

Cap the size of header
  scss/header.module.scss
Due: prettier --check

Align single progress level at the center
  scss/progress.module.scss
Due: prettier --check

Set the height of slides to 280px on wider devices
  scss/partials/_slide.scss
Due: prettier --check

Use Node suffixes for naming return values of components
  components/code-board.jsx
  components/control-panel.jsx
  components/presentation.jsx
  components/question.jsx
  components/result.jsx
Due: eslint, prettier --check

Cap the width of progress levels
  scss/progress.module.scss
Due: prettier --check

Allow for monitoring of options for change
  components/question.jsx
Due: eslint, prettier --check

Prevent passing of unsupported button in control panel
  components/control-panel.jsx
Due: eslint, prettier --check

Allow getting if user picked correct answer in question
  components/question.jsx
Due: eslint, prettier --check

Fix ref holder bug in presentation
  components/presentation.jsx
Due: eslint, prettier --check

Ignore vscode counter extension folder
  .eslintignore
  .gitignore
  .prettierignore
  .stylelintignore
Due: none

Save quiz results to localstorage when possible
  components/presentation.jsx
  components/progress.jsx
  components/question.jsx
  components/quiz.jsx
  core/library.js
  scss/result.module.scss
Due: eslint, prettier --check

Remove stored metadata when the number of elements differs
  components/quiz.jsx
  public/template.html
Due: eslint, prettier --check

Fix bug with start index in progress bar
  components/progress.jsx
Due: eslint, prettier --check

Path conditions:
  eslint: any of: *.{js,jsx}
  prettier --check: (any of: *.{js,jsx}) or (any of: *.{json,scss})
