Repository abdulramonjemil/quiz: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --check, stylelint

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint", "prettier --check"],
  "*.{json,scss}": "prettier --check",
  "*.scss": "stylelint"
}

Use .tsx for quiz components and make tiny mods
  src/components/quiz/base.jsx
  src/components/quiz/base.tsx
  src/components/quiz/behaviour.tsx
  src/components/quiz/component.tsx
  src/components/quiz/element.tsx
  src/components/quiz/finalization.tsx
  src/components/quiz/revalidation.tsx
  src/components/quiz/storage.tsx
  src/jsx/context.js
  src/jsx/jsx-runtime/intrinsic.js
  src/jsx/ref.js
  src/lib/value.js
Due: eslint, prettier --check

Restucture helper and other values
  src/components/quiz/base.tsx
  src/components/quiz/behaviour.tsx
  src/components/quiz/component.tsx
  src/components/quiz/data.tsx
  src/components/quiz/revalidation.tsx
Due: none

Update lint-staged config
  lint-staged.config.js
Due: eslint, prettier --check

Change class identifier for element
  src/components/quiz/base.tsx
Due: none

Remove note files
  .eslintrc.js
  .gitignore
  tsconfig.json
Due: eslint, prettier --check

Update readme
  README.md
  images/quiz-1.png
  images/quiz-2.png
  images/quiz-3.png
Due: none

Update description
  package.json
Due: prettier --check

Add requirements to facilitate public deployment
  .gitignore
  package.json
  webpack.prod.js
Due: eslint, prettier --check
