Repository abdulramonjemil/quiz: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --check, stylelint

Space variables appropriately
  components/quiz.jsx
Due: eslint, prettier --check

Change the identifier for raw HTML content
  core/content-parser.js
Due: eslint, prettier --check

Allow for globalization of quizzes
  components/quiz.jsx
Due: eslint, prettier --check

Add necessary comment
  components/quiz.jsx
Due: eslint, prettier --check

Remove unnecessary argument in function call
  public/template.html
Due: none

Rename test-page with appropriate name
  public/test-page.html
  webpack.dev.js
Due: eslint, prettier --check

Extract variables into objects
  components/quiz.jsx
Due: eslint, prettier --check

Update project info in package.json
  package.json
Due: prettier --check

Make header a part of the options object passed to QuizProps
  components/quiz.jsx
Due: eslint, prettier --check

Define necessary QuizProps method
  components/quiz.jsx
  public/test-page.html
  webpack.dev.js
Due: eslint, prettier --check

Prevent the use of same storage key for two quizzes
  components/quiz.jsx
  public/test-page.html
Due: eslint, prettier --check

Add borders around the root quiz element
  public/test-page.html
  scss/quiz.module.scss
Due: prettier --check, stylelint

Remove second test quiz
  public/test-page.html
Due: none

Prevent duplicate keys only when quiz is not global
  components/quiz.jsx
Due: eslint, prettier --check

Extract quiz metadata into a namespace
  components/quiz.jsx
Due: eslint, prettier --check

Rename headerContent to header
  components/quiz.jsx
Due: eslint, prettier --check

Rename metadata to savedQuizData
  components/quiz.jsx
Due: eslint, prettier --check

Rename storageKey to fullStorageKey appropriately
  components/quiz.jsx
Due: eslint, prettier --check

Use a separate props object in createFrom
  components/quiz.jsx
Due: eslint, prettier --check

Make question and codeboard always take full width
  scss/code-board.module.scss
  scss/question.module.scss
Due: prettier --check, stylelint

Rename createFrom QuizProps static method
  components/quiz.jsx
  public/test-page.html
Due: eslint, prettier --check

Move source code to 'src' directory
  build.entry.js
  index.js
  src/components/.babelrc.js
  src/components/code-board.jsx
  src/components/control-panel.jsx
  src/components/header.jsx
  src/components/presentation.jsx
  src/components/progress.jsx
  src/components/question.jsx
  src/components/quiz.jsx
  src/components/result.jsx
  src/components/scroll-shadow.jsx
  src/core/component.js
  src/core/content-parser.js
  src/core/jsx-runtime.js
  src/core/library.js
  src/core/polyfiller.js
  src/public/test-page.html
  src/scss/code-board.module.scss
  src/scss/control-panel.module.scss
  src/scss/header.module.scss
  src/scss/partials/_library.scss
  src/scss/partials/_number.scss
  src/scss/partials/_slide.scss
  src/scss/partials/_utils.scss
  src/scss/presentation.module.scss
  src/scss/progress.module.scss
  src/scss/question.module.scss
  src/scss/quiz.module.scss
  src/scss/result.module.scss
  src/scss/scroll-shadow.module.scss
  webpack.config.js
  webpack.dev.js
Due: eslint, prettier --check, stylelint

Rename dev build command
  package.json
Due: prettier --check

Update path to scss files in scripts
  package.json
Due: prettier --check

Fix bug in storage key read
  src/components/quiz.jsx
  src/public/test-page.html
Due: eslint, prettier --check

Let new quiz data automatically override existing
  src/components/quiz.jsx
Due: eslint, prettier --check

Return necessary values from Quiz.create
  src/components/quiz.jsx
Due: eslint, prettier --check

Enable definition of quiz submission callback
  src/components/quiz.jsx
Due: eslint, prettier --check

Enable changing of quiz autosave value
  src/components/quiz.jsx
  src/public/test-page.html
Due: eslint, prettier --check

Pass saved quiz metadata to submission callback
  src/components/quiz.jsx
Due: eslint, prettier --check

Enable population of quiz data manually
  src/components/quiz.jsx
  src/public/test-page.html
Due: eslint, prettier --check

Ignore /build
  .gitignore
Due: none

Use a better error message
  src/components/question.jsx
  src/public/test-page.html
Due: eslint, prettier --check

Remove bad test code
  src/public/test-page.html
Due: none

Allow questions with less than four options
  src/components/question.jsx
  src/components/quiz.jsx
  src/public/test-page.html
Due: eslint, prettier --check

Prevent firing of event handler
  src/components/question.jsx
Due: eslint, prettier --check

Make indicator bar work in Firefox
  src/components/result.jsx
  src/public/test-page.html
  src/scss/result.module.scss
Due: eslint, prettier --check, stylelint

Trigger scroll on scrollable element when possible
  src/components/scroll-shadow.jsx
Due: eslint, prettier --check

Prevent alteration of default scroll position
  .eslintrc.json
  src/components/scroll-shadow.jsx
Due: eslint, prettier --check

Fix the scroll shadow bug
  src/components/scroll-shadow.jsx
Due: eslint, prettier --check

Path conditions:
  eslint: any of: *.{js,jsx}
  prettier --check: (any of: *.{js,jsx}) or (any of: *.{json,scss})
  stylelint: any of: *.scss
