Repository abdulramonjemil/quiz: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --check, stylelint

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint", "prettier --check"],
  "*.{json,scss}": "prettier --check",
  "*.scss": "stylelint"
}

Remove unnecessary method
  src/components/quiz.jsx
Due: eslint, prettier --check

Remove unused method
  src/components/quiz.jsx
Due: eslint, prettier --check

Add type info for property
  src/core/component.js
Due: eslint, prettier --check

Move utility functions into separate folder
  .eslintrc.js
  src/components/presentation.jsx
  src/components/quiz.jsx
  src/core/content-parser.js
  src/core/library.js
  src/lib/dom.js
  src/lib/id.js
  src/lib/storage.js
  src/lib/value.js
Due: eslint, prettier --check

Fix import issue
  src/components/question.jsx
Due: eslint, prettier --check

Add check for ongoing revalidation
  src/components/quiz.jsx
Due: eslint, prettier --check

Rename slides to slideInstances
  src/components/presentation.jsx
Due: eslint, prettier --check

Remove duplicate contents in presentation slides
  src/components/presentation.jsx
Due: eslint, prettier --check

Fixed bug with explanation
  src/components/question.jsx
Due: eslint, prettier --check

Major changes
  src/components/control-panel.jsx
  src/components/presentation.jsx
  src/components/question.jsx
  src/components/quiz.jsx
  src/core/component.js
  src/core/jsx-runtime.js
  src/lib/dom.js
  src/public/index.html
  src/public/main.js
  src/public/sample.js
  src/public/style.css
  src/public/test-page.html
  src/scss/quiz.module.scss
  webpack.config.js
  webpack.dev.js
  webpack.prod.js
Due: eslint, prettier --check, stylelint

Enable jumping to slides through their numbers
  src/components/control-panel.jsx
  src/components/progress.jsx
  src/components/quiz.jsx
  src/lib/focus.js
Due: eslint, prettier --check

Apply outline only on visible focus
  src/scss/quiz.module.scss
Due: prettier --check, stylelint

Add purple to theme colors
  src/scss/control-panel.module.scss
  src/scss/partials/_utils.scss
Due: prettier --check, stylelint

Better styling for progress buttons
  src/components/progress.jsx
  src/components/quiz.jsx
  src/scss/progress.module.scss
Due: eslint, prettier --check, stylelint

Change dimensional styles for progress buttons
  src/components/progress.jsx
  src/scss/progress.module.scss
  src/scss/result.module.scss
Due: eslint, prettier --check, stylelint

Restructure webpack build entry
  index.js
  src/build.entry.js
  webpack.config.js
Due: eslint, prettier --check

Enable 'T' shortcut for toggling result
  src/components/control-panel.jsx
  src/components/quiz.jsx
Due: eslint, prettier --check

Maintain outline of quiz section on focus-within
  src/scss/quiz.module.scss
Due: prettier --check, stylelint

Allow more than 10 quiz elements
  src/components/quiz.jsx
Due: eslint, prettier --check

Let quiz inherit font on the page
  src/public/style.css
  src/scss/code-board.module.scss
  src/scss/partials/_utils.scss
  src/scss/quiz.module.scss
Due: prettier --check, stylelint

Remove presentation slide animation
  src/components/presentation.jsx
  src/components/quiz.jsx
  src/components/result.jsx
  src/public/sample.js
  src/scss/presentation.module.scss
  src/scss/result.module.scss
Due: eslint, prettier --check, stylelint

Require at least two elements for quiz to work
  src/components/quiz.jsx
Due: eslint, prettier --check

Restyle progress and fix flashing bug
  src/components/progress.jsx
  src/components/quiz.jsx
  src/public/sample.js
  src/scss/progress.module.scss
Due: eslint, prettier --check, stylelint

Fix unthrown error in jsx-runtime
  src/core/jsx-runtime.js
Due: eslint, prettier --check

Only show quiz outline on visible focus
  src/scss/quiz.module.scss
Due: prettier --check, stylelint

Refactor quiz render and other bits
  src/components/control-panel.jsx
  src/components/presentation.jsx
  src/components/question.jsx
  src/components/quiz.jsx
  src/components/result.jsx
  src/core/component.js
  src/lib/parse.js
  src/lib/value.js
  src/public/main.js
  src/public/sample.js
Due: eslint, prettier --check

Accept object instead of string as stored data
  src/components/quiz.jsx
  src/public/main.js
Due: eslint, prettier --check

Restructure storage key implementation
  src/components/quiz.jsx
  src/public/main.js
Due: eslint, prettier --check

Fix issue with wrong stored element count
  src/components/quiz.jsx
  src/public/main.js
Due: eslint, prettier --check

Prevent loss of focus when reviewing explanations
  src/components/control-panel.jsx
  src/components/quiz.jsx
Due: eslint, prettier --check

Add outline to explanation toggler on focus-visible
  src/scss/question.module.scss
Due: prettier --check, stylelint

Add shortcut for explanation toggle
  src/components/question.jsx
  src/components/quiz.jsx
  src/public/main.js
Due: eslint, prettier --check

Remove unnecessary method
  src/components/quiz.jsx
  src/components/result.jsx
Due: eslint, prettier --check

Add file for random brainstorming
  src/__notes.js
Due: eslint, prettier --check

Remove unnecessary method
  src/components/presentation.jsx
Due: eslint, prettier --check

Add support for progress completion level
  src/components/progress.jsx
  src/scss/partials/_utils.scss
  src/scss/progress.module.scss
Due: eslint, prettier --check, stylelint

Update note on tabs
  src/__notes.js
Due: eslint, prettier --check

Rearrange necessary sass components
  src/scss/control-panel.module.scss
Due: prettier --check, stylelint

Refactor quiz to use less methods
  src/components/quiz.jsx
Due: eslint, prettier --check

Remove unnecessary binding in progress render
  src/components/progress.jsx
  src/components/quiz.jsx
  src/public/sample.js
Due: eslint, prettier --check
